anyio
appnope
astor
asttokens
backcall
certifi
charset-normalizer
click
comm
croniter
dateparser
debugpy
decorator
dnspython
duckdb
email-validator
executing
fastapi
fsspec
h11
httptools
hyperscript
idna
ipykernel
ipython
ipywidgets
jedi
Jinja2
jupyter_client
jupyter_core
jupyterlab-widgets
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
nest-asyncio
numpy
packaging
pandas
parso
pexpect
pickleshare
platformdirs
prompt-toolkit
psutil
ptyprocess
pure-eval
pyarrow
pydantic
Pygments
python-dateutil
python-dotenv
pytz
pytz-deprecation-shim
PyYAML
pyzmq
regex
requests
rich
ruamel.yaml
ruamel.yaml.clib
six
sniffio
sqlglot
sqlmesh
stack-data
starlette
tornado
traitlets
typing_extensions
tzdata
tzlocal
urllib3
uvicorn
uvloop
watchfiles
wcwidth
websockets
widgetsnbextension
sse_starlette